/*căn giữa*/
.destinations {
    padding: 60px 50px;
    max-width: 1200px;
    margin: 0 auto;
}

/* ảnh nền và thanh tìm kiếm*/
#hero {
    background-image: linear-gradient(rgba(44, 44, 44, 0.5), rgba(0, 0, 0, 0.5)),
        url('../Source/FARMING.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-content {
    text-align: center;
    color: #fff;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.search-bar input,
.search-bar button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.search-bar button {
    background: #ffb703;
    color: #fff;
    cursor: pointer;
}

/* Trending */
.section-header {
    margin-bottom: 20px;
    text-align: left;
}

.section-header h2 {
    font-size: 1.8rem;
    margin-bottom: 5px;
    color: #000;
}

.grid-trending {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* Chia làm 6 cột để chia tỉ lệ */
    gap: 15px;
}

.card {
    position: relative;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #f0f0f0;
}

.card.tall {
    grid-column: span 3;
    height: 300px;
}


.card:not(.tall) {
    grid-column: span 2;
    height: 250px;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 50%);
    padding: 20px;
    z-index: 2;
}

.card-overlay h3 {
    color: white;
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.card:hover {
    transform: translateY(-5px);
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease;
    display: block;
}

/* Hiệu ứng khi di chuột vào: Chỉ phóng to ảnh bên trong, không nhảy cả khung */
.card:hover .card-img {
    transform: scale(1.1);
}